:root {
    --hue-color: 46;  /* #f1d67b; */

    /* Primárias */
    --first-color: hsl(var(--hue-color), 65%, 61%);        
    --first-color-second: rgba(0, 0, 0, 0.8);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);    
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%); 

    --white-color: #fff;

    /* Texto */
    --title-color: hsl(var(--hue-color), 8%, 15%);       
    --text-color: hsl(var(--hue-color), 8%, 45%);          
    --text-color-light: hsl(var(--hue-color), 8%, 65%);

    /* Fundo */
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #ffffff;

    /* Fonte */
    --body-font: 'Poppins', sans-serif;

    /* Tamanho title */ 
    --header-height: 3rem;
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* Peso */
    --font-medium: 500;
    --font-semi-bold: 600;

    /* Margens Bottom */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /* Ordem  de precedência*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem; 
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/* Base */
*{
    box-sizing: border-box;
    padding-left: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1, h2, h3, h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}
/* / Base */

/* Genérica */
.section {
    padding: 2rem 0 4rem;
}

.section-title {
    font-size: var(--h1-font-size);
}

.section-subtitle {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
}

.section-title,
.section-subtitle {
    text-align: center;
}
    
    /* Layout */
.container {
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid {
    display: grid;
    gap: 1.5rem;
}
    /* / Layout */
/* / Genérica */

/* Logo */
.nav-logo {
    display: flex;
    align-items: center;
    gap: 8px;
}
/* / Logo */

/* Herder */
.header {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}
/* / Herder */

/* Navbar */
.nav {
    max-width: 986px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo,
.nav-toggle {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav-logo:hover {
    color: var(--first-color);
}

.nav-toggle {
    font-size: 1.1rem;
    cursor: pointer;
}

.nav-toggle:hover {
    color: var(--first-color);
}

@media screen and (max-width: 767px) {
    .nav-menu {
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
        border-radius: 1.0rem 1.0rem 0 0;
        transition: .3s;
    }
}

.nav-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--text-color);
    font-weight: var(--font-medium);
}

.nav-link:hover {
    color: var(--first-color);
}

.nav-icon {
    font-size: 1.2rem;
}

.nav-close {
    position: absolute;
    right: 1.3rem;
    bottom: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--first-color);
}

.nav-close:hover {
    color: var(--first-color-alt);
}

.show-menu {
    bottom: 0;
}
/* / Navbar */

/* Home */
.home-container {
    gap: 1rem;
}

.home-content {
    grid-template-columns: .5fr 3fr;
    padding-top: 3.5rem;
    align-items: center;
}

.home-social {
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}

.home-social-icon {
    font-size: 1.25rem;
    color: var(--first-color);
}

.home-social-icon:hover {
    color: var(--first-color-alt);
}

.home-img {
    width: 200px;
}

.img-primary {
    width: 170px;
    mask-image: linear-gradient(to bottom, hsla(var(--hue-color), 65%, 61%) 60%, transparent 100%);
    border-radius: .3rem;
}

.home-data {
    grid-column: 1/3;
}

.home-title {
    font-size: var(--big-font-size);
}

.home-subtitle {
    font-size: var(--h3-font-size);
    color: var(--text-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75);
}

.home-description {
    margin-bottom: var(--mb-2);
}

.home-scroll {
    display: none
}

.home-scroll-button {
    color: var(--first-color);
    transition: .3s;
}

.home-scroll-button:hover {
    transform: translateY(.25rem);
}

.home-scroll-mouse {
    font-size: 2rem;
}

.home-scroll-name {
    font-size: var(--small-font-size);
    color: var(--text-color);
    font-weight: var(--font-medium);
    margin-right: var(--mb-0-25);
}

.home-scroll-arrow {
    font-size: 1.25rem;
}
/* / Home */

/* Buttons */ 
.button {
    display: inline-block;
    background-color: var(--first-color);
    color: var(--white-color);
    padding: 1rem;
    border-radius: .5rem;
    font-weight: var(--font-semi-bold);
}

.button:hover {
    background-color: var(--first-color-alt);
}

.button-icon {
    font-size: 1.25rem;
    margin-left: var(--mb-0-5);
    transition: .3s;
}

.button-flex {
    display: inline-flex;
    align-items: center;
}

.button-samll {
    padding: .75rem 1rem;
}

.button-link {
    padding: 0;
    background-color: transparent;
    color: var(--first-color);
}

.button-link:hover {
    background-color: transparent;
    color: var(--first-color-alt);
}
/* / Buttons */ 

/* About */
.about-img {
    width: 200px;
    border-radius: 0.5rem;
    justify-self: center;
    align-self: center;
}

.about-description {
    text-align: justify;
    color: var(--title-color);
    margin-bottom: var(--mb-0-5);
}

.about-data {
    background: #ececec;
    padding: 2rem;
}
/* / About */

/* Services */
.services-container {
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
}

.services-content {
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .15);
    background-color: var(--container-color);
    padding: 3.5rem .5rem 1.25rem 1.5rem;
    border-radius: .25rem;
    transition: .3s;
}

.services-content:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.services-icon {
    display: block;
    font-size: 1.5rem;
    color: var(--first-color);
    margin-bottom: var(--mb-1);
}

.services-title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-1);
    font-weight: var(--font-medium);
}

.services-button {
    cursor: pointer;
    font-size: var(--small-font-size);
}

.services-button:hover .button-icon {
    transform: translateX(.25rem);
}

.services-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    z-index: var(--z-modal);
    opacity: 0; 
    visibility: hidden;
    transition: .3s;
}

.services-modal-content {
    position: relative;
    background-color: var(--container-color);
    padding: 1.5rem;
    border-radius: .5rem;
}

.services-modal-services {
    row-gap: 1rem;
}

.services-modal-service {
    display: flex;
}

.services-modal-title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1-5);
}

.services-modal-close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 1.5rem;
    color: var(--first-color);
    cursor: pointer;
}

.services-modal-icon {
    color: var(--first-color);
    margin-right: var(--mb-0-25);
}
/* / Services */